* {
  font-family:
    Ibm Plex Sans,
    FontAwesome,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
}

window#waybar {
  background-color: #0a0a0a;
  color: #f5f5f5;
}

#workspaces {
  background-color: #171717;
  margin: 0.4em;
  padding: 0 1em;
  border-radius: 12px;
}

#workspaces button {
  font-family: Ibm Plex Mono;
  min-width: 1.5em;
  font-size: 1.5em;
  color: #f5f5f5;
}

#workspaces button:hover {
  background-color: #32302f;
  border: 0;
}

#workspaces button.active {
  color: #f59e0b;
}

#workspaces button.empty {
  color: #404040;
}

#memory,
#cpu {
  margin: 0.4em;
  padding: 0 1em;
  border-radius: 12px;
  background-color: #171717;
}

#memory {
  /* color: @iris; */
}

#cpu {
  /* color: @foam; */
}

#tray {
  margin: 0.4em;
  padding: 0 1em;
  background-color: #171717;
  border-radius: 12px;
}

#pulseaudio {
  margin: 0.4em;
  padding: 0 1em;
  border-radius: 12px;
  background-color: #171717;
}

#clock {
  margin: 0.4em;
  padding: 0 1em;
  border-radius: 12px;
  background-color: #171717;
}
