@import "./rose-pine-moon.css";

* {
  font-family:
    IBM Plex Sans,
    FontAwesome,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
}

window#waybar {
  background-color: @base;
  color: @text;
  border-bottom: 0px solid @rose;
}

#workspaces {
  margin: 0.4em;
  padding: 0 0.8em;
  background-color: @overlay;
  border-radius: 8px;
}

#workspaces button {
  font-family: Ibm Plex Mono;
  min-width: 1.5em;
  font-size: 1.5em;
  color: @subtle;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.empty {
  color: @muted;
}

#memory,
#cpu {
  margin: 0.4em;
  padding: 0 0.8em;
  color: @base;
  border-radius: 8px;
}

#memory {
  background-color: @iris;
}

#cpu {
  background-color: @foam;
}

#tray {
  margin: 0.4em;
  padding: 0 0.8em;
  background-color: @overlay;
  border-radius: 8px;
}

#pulseaudio {
  margin: 0.4em;
  padding: 0 0.8em;
  border-radius: 8px;
  background-color: @iris;
  color: @base;
}

#clock {
  font-family:
    IBM Plex Mono,
    monospace;
  margin: 0.4em;
  padding: 0 0.8em;
  background-color: @overlay;
  border-radius: 8px;
  background-color: @foam;
  color: @base;
}
